* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0 0 0;
  padding: 0;
  background-color: rgb(31, 31, 46);
  color: rgb(232, 223, 223);
  min-height: 100vh;
}

.outer {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 600px;
}

.title {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 1em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.version, .serverName, .ip, .mongo, .rootUrl {

  color: #999;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;

  span {
    font-weight: 600;
    color: rgb(21, 108, 137);
  }
}

.serverName {
  border: 1px solid rgb(76, 223, 76);
  padding: 1em;

  &.blue {
    border: 1px solid rgb(76, 110, 223);
  }
}


.board {
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 2em 0 1.5em;
  padding: 0;
}

.metric {
  margin-top: 1em;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(110, 110, 110, 0.5);

  &:before {
    color: #999;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    display: inline-block;
    font-weight: 300;
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    width: 3em;
  }

  .label {
    color: rgb(180, 180, 180);
    display: inline-block;
    font-size: 1.25em;
    font-weight: 300;
    vertical-align: middle;
  }

  .data {
    color: rgb(190, 190, 190);
    display: block;
    float: right;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 2.4em;
    padding-right: 1.25em;
  }

}

.refresh {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

}

hr {
  margin: 30px 0;
  border: 1px solid rgba(180, 180, 180, 0.8);
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &.round {
    border-radius: 25px;

    &:before {
      border-radius: 50%;
    }
  }

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &.checked {
    background-color: #2196F3;

    &:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
  }
}

.error {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0 0 1em;
  text-align: center;

  &.red {
    color: rgb(255, 0, 0);
  }
}




